<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNgViacej" allow-return-values="true">
  <test thread-count="5" name="TestNg">
  <parameter name="keyword" value="software" />
  	<groups>
  		<run>
  			<include name="google"/>
  			<include name="hacker-rank"/>
  		</run>
  	</groups>
    <classes>
      <class name="test.TestService"/>
    </classes>
  </test> <!-- TestNg -->
</suite> <!-- TestNgViacej -->
